<div class="vertical-nav overflow-auto" id="sidebar">
    <div class="py-4 px-3 mb-2 text-center">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.6435-9/140050854_3287410744697843_3702604569064900197_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHx-p-6q8Z3PhyBDrAUui6eaIjl60iW_VNoiOXrSJb9Uz5u7tT2iLL71dqNsrwE9F0_7zYOdId09xo4A4JdysNG&_nc_ohc=Dp-z3rJOhoEAX-9L6Uk&_nc_ht=scontent-los2-1.xx&oh=d671260adf9bf4264ec50521912c11e2&oe=61D3456A"
      style="width:50px; height:50px; border-radius:50%;">
      <div class="text-center mt-2" id="email"></div>
    </div>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
      Dashboard
      <span
        style="
          width: 100%;
          background: #ccc;
          height: 2px;
          border: 1px solid black;
          margin-top: 10px;
          display: block;
        "
      ></span>
    </p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link text-dark">
          <i class="fa fa-home"></i>&nbsp;Home</a
        >
      </li>
      <li class="nav-item">
        <a href="/post" class="nav-link text-dark">
          <i class="fas fa-university"></i>&nbsp;Add New Book</a
        >
      </li>
      <li class="nav-item">
        <a href="/allbooks" class="nav-link text-dark">
          <i class="fas fa-money-bill-wave"></i>&nbsp;View All Books</a
        >
      </li>
      <li class="nav-item">
        <a href="/bookapi" class="nav-link text-dark">
          <i class="fa fa-download"></i> &nbsp;API</a
        >
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link text-dark">
          <i class="fas fa-sync"></i>&nbsp;Logout</a
        >
      </li>
    </ul>

  </div>

  